$screen-xl-min: 1600px;

.carousel-control i {
  margin-top: 100%;
}

.carousel-thumbs {
  > a {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    @media (min-width: $screen-lg-min) {
      margin-top: 6px;
      margin-right: 6px;
    }
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    img {
      cursor: pointer;
      opacity: 1;
      margin: 0;
    }
  }
}

.gallery-images {
  margin-top: 6px;
  margin-right: 6px;
  width: 101px;
  @media (min-width: $screen-lg-min) {
    width: 113px;
  }
  @media (min-width: $screen-xl-min) {
    width: 138px;
  }
  @include transition(opacity 0.3s);
  &.inactive {
    opacity: 0.4 !important;
  }
  &.active {
    opacity: 1 !important;
  }
  .selected & {
    opacity: 1;
  }
  .not-selected & {
    opacity: 0.4;
  }
}